

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% comment %}<form class="form-horizontal" role="form" action="." method="post">
    {% csrf_token %}
    {% for field in form %}
        {% if field.errors %}
            <div class="form-group has-error">
                <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    <span class="help-block">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </span>
                </div>
            </div>
        {% else %}
            <div class="form-group">
                <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-10">
                    {{ field|attr:"class:form-control" }}
                    {% if field.help_text %}
                        <p class="help-block"><small>{{ field.help_text }}</small></p>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </div>
</form>{% endcomment %}

{% comment %}
{% for field in form %}
    {% if field.errors %}
                <div class="control-group error">

                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>

    {% endif %}

    <div class="form-group text-center">
    <div class=" text-center">
				<h1 class="heading">{{ field.name }}</h1>
				<hr>
			</div>
        <div align="center" class="col-md-4 col-md-offset-4">
                    {{ field}}

        </div>



    </div>

{% endfor %}
<div>
        <button type="submit">submit</button>
    </div>
{% endcomment %}

{% for field in form %}
        <div class="form-group{% if field.field.required %} required{% endif %} wow fadeInUp">
            <div class="col-md-2 control-label">
                {% bootstrap_label field.name %}
            </div>
            <div class="col-md-4">
                {% bootstrap_field field show_label=False form_group_class=None %}
            </div>
        </div>
   {% endfor %}



