{% extends 'students/base.html'%}

{% block body %}
{% load staticfiles %}
<section>
<div id="1st" class="container">
<div class="row">
            <div class=" text-center">
				<h1 class="heading">FIRST YEAR</h1>
				<hr>
			</div>

    {% for student in all_students %}
        {% if student.Year == 'first' %}

        <div  class="col-xs-6 col-md-3  wow fadeInUp">
    <a  href="{% url 'profile' student.id %}" class="thumbnail w3-card-4">

      <div id="logo"><img  class="img-responsive" src="{{ student.Pic.url }}" alt="{% static 'students/images/img_avatar.png' %}"></div>
        <div class="w3-container">
    <h4><b>{{ student.Name }}</b></h4>
    <p>{{ student.Roll }}</p>
  </div>
    </a></div>


    {% endif %}
{% endfor %}
</div>
</div>
<div id="2nd" class="container">
<div class="row">
<div class=" text-center">
				<h1 class="heading">SECOND YEAR</h1>
				<hr>
			</div>

    {% for student in all_students %}
        {% if student.Year == 'second' %}

        <div  class="col-xs-6 col-md-3  wow fadeInUp">
    <a  href="{% url 'profile' student.id %}" class="thumbnail w3-card-4">
      <div id="logo"><img  class="img-responsive"  src="{{ student.Pic.url }}"  alt="..."></div>
        <div class="w3-container">
    <h4><b>{{ student.Name }}</b></h4>
    <p>{{ student.Roll }}</p>
  </div>
    </a></div>


    {% endif %}
{% endfor %}
</div>
</div>
<div id="3rd" class="container">
<div class="row">
<div class=" text-center">
				<h1 class="heading">THIRD YEAR</h1>
				<hr>
			</div>

    {% for student in all_students %}
        {% if  student.Year == 'third' %}

        <div  class="col-xs-6 col-md-3  wow fadeInUp">
    <a  href="{% url 'profile' student.id %}" class="thumbnail w3-card-4">
      <div id="logo"><img  class="img-responsive"  src="{{ student.Pic.url }}"  alt="..."></div>
        <div class="w3-container">
    <h4><b>{{ student.Name }}</b></h4>
    <p>{{ student.Roll }}</p>
  </div>
    </a></div>


    {% endif %}
{% endfor %}
</div>
</div>
<div id="4rd" class="container">
<div class="row">
<div class=" text-center">
				<h1 class="heading">FOURTH YEAR</h1>
				<hr>
			</div>

    {% for student in all_students %}
        {% if  student.Year == 'fourth' %}

        <div  class="col-xs-6 col-md-3  wow fadeInUp">
    <a  href="{% url 'profile' student.id %}" class="thumbnail w3-card-4">
      <div id="logo"><img  class="img-responsive"  src="{{ student.Pic.url }}"  alt="..."></div>
        <div class="w3-container">
    <h4><b>{{ student.Name }}</b></h4>
    <p>{{ student.Roll }}</p>
  </div>
    </a></div>


    {% endif %}
{% endfor %}
</div>
</div>
<div id="5th" class="container">
<div class="row">
<div class=" text-center">
				<h1 class="heading">FIFTH YEAR</h1>
				<hr>
			</div>

    {% for student in all_students %}
        {% if  student.Year == 'fifth' %}


        <div  class="col-xs-6 col-md-3  wow fadeInUp">
    <a  href="{% url 'profile' student.id %}" class="thumbnail w3-card-4">
      <div id="logo"><img  class="img-responsive"  src="{{ student.Pic.url }}"  alt="..."></div>
        <div class="w3-container">
    <h4><b>{{ student.Name }}</b></h4>
    <p>{{ student.Roll }}</p>
  </div>
    </a></div>


    {% endif %}
{% endfor %}
</div>
</div>

    </section>


{% endblock %}

