<html>
<head>
	<meta charset="utf-8">
	<title>ABV-IIITM</title>

	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="keywords" content="">
	<meta name="description" content="">
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'students/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'students/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'students/css/font-awesome.min.css' %}">

	<link rel="stylesheet" href="{% static 'students/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'students/css/w3.css' %}">
	<link rel="logo_mid" href="{% static 'students/images/logo_mid.png' %}">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
</head>
<body>
{% block body %}
{% endblock %}
<br><br><br><br><br><br><br><br>
<section class=" modal-footer">
	<div class="container-fluid text-center" >
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3>ABV-IIITM Gwalior</h3>
				<p>Copyright © 2016. All right Reserved.</p>
				developed by..
				<br>
				Pranay Verma | Gaurav Agarwal


      </div>

	</div>
</div>


</section>
<script src="{% static 'students/js/jquery.js' %}"></script>
<script src="{% static 'students/js/bootstrap.min.js' %}"}></script>
<script src="{% static 'students/js/jquery.parallax.js' %}"}></script>
<script src="{% static 'students/js/smoothscroll.js' %}"></script>

<script src="{% static 'students/js/wow.min.js' %}"></script>
<script src="{% static 'students/js/custom.js' %}"></script>
</body>
</html>