{% extends 'students/main_base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block body %}

    <section class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">

			<a href="http://www.iiitm.ac.in/" class="navbar-brand"><img alt="Brand" src="{% static 'students/images/logo_mid.png' %}"/></a>

			<a href="{% url 'index' %}" class="navbar-brand">TRAINING and PLACEMENT</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'index' %}" class="smoothScroll">HOME</a></li>
                {% if error_message %}
            <li><a style="color: darkred">{{ error_message }}</a></li>
                {% endif %}

                <form class="navbar-form navbar-right" action="{% url 'user_login'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                      <div class="form-group">

                        <label class="sr-only" for="exampleInputEmail3">Username</label>
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="exampleInputPassword3">Password</label>
                        <input  class="form-control"  placeholder="Password" id="id_password" maxlength="30" name="password" type="password">
                      </div>

                        <button type="submit" class="btn btn-default">Sign in</button>

                </form>






            </ul>

        </div>
    </div>
</section>
    <br><br><br><br><br><br><br><br>
<div class="container " >
<div class="w3-card-8 panel panel-default wow fadeInUp" style="background-image: url({% static 'students/images/logo_bg.png' %});background-repeat:no-repeat;background-size:100%;">
    <div class="panel-heading text-center">
    <h3 class=""><strong>REGISTER</strong></h3>
  </div>
    <br><br>

<form class="form-horizontal text-capitalize" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<br><br>
    {% include 'students/form-template.html' %}
<br>
{% buttons %}
      <div class="col-sm-offset-2 col-sm-10">

            <button type="submit" class="btn btn-primary wow fadeInUp">
                {% bootstrap_icon "star" %} Sign Me Up!
            </button>
       </div>
   {% endbuttons %}


</form>

    <br><br><br><br>
    </div>
</div>







{% endblock %}